<div class="card mb-5">
  <div class="card-body">
    <h5 class="card-title text-center mb-4">Informacion de Engament</h5>   
		<div class="cardSpaceLeft">   

			<div class="mb-5">
				<%= link_to 'Engagements', building_engagements_path(@building) %>
			</div>
			<p>

			<%# for engagement in @building.engagements %>
				  <strong>Ente Residencial:</strong>
				  <%= @engagement.building.name %>
				</p>

				<p>
				  <strong>Creador de Asociaci贸n:</strong>
				  <%= @engagement.creator.present?  ? User.find(@engagement.creator).email.titleize : "Impossible" %>
				</p>

				<% if @engagement.edited_by != nil %>
				<p>
				  <strong> Ultimo editor de Asociaci贸n :</strong>
				  <%= @editor.email.titleize %>
				</p>
				<% end %>
				

				<p>
				  <strong>Usuario Asociado:</strong>
				  <%= @engagement.user.email.titleize %>
				</p>

				<p>
				  <strong>Aceso:</strong>
				  <%= @engagement.access.titleize %>
				</p>
				<p>
				  <strong>Cargo:</strong>
				  <%= @engagement.role.titleize %>
				</p>
				<p>
				  <strong>Comenz贸 el :</strong>
				  <%= @engagement.started_at.strftime('%d %b %Y %H:%M:%S') %>
				</p>

				<% if @engagement.edited_by.present? %>
					<p>
					  <strong>Actualizado el :</strong>
					  <%= @engagement.updated_at.strftime('%d %b %Y %H:%M:%S') %>
					</p>
				<% end %>

				<!-- FROM HERE This should be shown only on the Engagement History -->
<!-- 				<p>
				  <strong>Termin贸 el :</strong>
				  <%#= @engagement.ended_at.strftime('%d %b %Y %H:%M:%S') %>
				</p>   TO HERE  -->

				<div class="my-3">
					<%= link_to 'Edit', edit_building_engagement_path(@building, @engagement) %> 
				<div>
				<%#= link_to 'Engagements', building_engagements_path(@building) %>
			
		</div>
	</div>
</div>
