<div class="card formCard mt-5 mb-5">
  <div class="card-body">
    <div clas='formContainer'>
			<%= " Usuasrio : #{current_user.email.capitalize}" %>
			<br>
			<br>
			<%= simple_form_for(@building) do |f| %>
			  <%= f.error_notification %>
			  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

			  <div class="form-inputs">
			    <%= f.input :name %>
			    <p class="roleInput">Tipo </p>
			    <%= f.select :buildingtype, Building.buildingtypes.keys.map {|type| [type.titleize, type]}  %> 

			    <% if current_page?(controller: 'buildings', action: 'new') %>
						<%= render 'buildings/engagements', f: f %>
					<% end %>
			  </div>

			  <div class="form-actions">
			    <%= f.button :submit, class: "btn btn-sm btn-primary mt-4"  %>
			  </div>
			<% end %>

		</div>
	</div>
</div>
