<h1>Buildings</h1>
<div class="table table-responsive"> 
  <div class="indextable">
    <table class="table table-hover">  
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @buildings.each do |building| %>
          <tr>
            <td><%= building.name.capitalize %></td>
            <td><%= building.buildingtype.capitalize %></td>
            <td><%= link_to 'Show', building %></td>
            <td><%= link_to 'Edit', edit_building_path(building) %></td>
            <td><%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>

<%= link_to 'New Building', new_building_path %>
