<% provide(:page_title, "#{@building.name.titleize }") %>
<% provide(:entes_residenciales_active, 'active') %>


<% content_for(:sidebar) do %>
  <%= render 'layouts/sidebar' %>
<% end %>

<div class="card col-md-9 mb-5 showCard">
  <div class="card-body">
    <h4 class="card-title text-center mb-4"><%= @building.buildingtype.titleize%> <%= @building.name.titleize %></h4>

    <div class="buildingMenu"> 
	  	<div class="my-2 py-2">
	  		<nav class="nav">
		  		<ul class="nav nav-pills">
						<% if @building.engagements.where(user_id: current_user.id, access: 'admin').present? %> 
<!-- 							<li class="nav-item">
							  <%#= link_to 'Editar ENte Residencial', edit_building_path(@building), class: "nav-link mr-2 tableroMandoLink editLink" %>
							</li>  -->
						<li class="nav-item">
             <%= link_to "Entes Residenciales", buildings_path, class: "nav-link mr-2 tableroMandoLink" %> 
            </li> 
							<li class="nav-item">
						    <%= link_to 'Usuarios Asociados', building_engagements_path(@building), class: "nav-link #{yield(:usuarios_asociados_active)} mr-2 tableroMandoLink" %>
						  </li>
						 <% else %>
						  <li class="nav-item">
							  <%= link_to 'Entes Residenciales', buildings_path, class: "nav-link mr-2 tableroMandoLink" %>
							</li> 

						<% end %>
					</ul>
				</nav>
			</div> 
		</div>

		<div class="my-5">
			<%= link_to 'Editar Ente Residencial', edit_building_path(@building) %>
		<div>

		<table class="table showTable ">
		  <tbody >
				<tr>
				  <th class='showTh'>Tienes acceso: </th>
					<%= render 'buildings/access' %>
				</tr>
				<tr >
		   		<th class='showTh'>Nombre: </th>
					<td class='showTd'><%= @building.name.titleize %></td>
				</tr>
				<tr >
		   		<th class='showTh'>Tipo: </th>
					<td class='showTd'><%= @building.buildingtype.titleize%></td>
				</tr>
				<tr >
		   		<th class='showTh'>Creador: </th>

		   		<!-- <td class='showTd'><%#= engagement.creator.present?  ? User.find(engagement.creator).email.titleize : "Console" %></td> -->
					 <td class='showTd'><%= render 'buildingCreator', building: @building %></td> 
				</tr>		
				<tr >
		   		<th class='showTh'>Fecha de Creación:</th>
					<td class='showTd'><%= @building.created_at.strftime('%d %b %Y - %H:%M:%S')  %></td>
				</tr>	
				<tr >
		   		<th class='showTh'>Total Administradores: </th>
					<td class='showTd'><%=  @building.engagements.where(access: 'admin').count  %></td>
				</tr>
     	</tbody>
   </table>
	 <div class="mt-5"> 
			<%# if @building.engagements.where(user_id: current_user.id, access: 'admin').present? %> 
			  <%#= link_to 'Editar', edit_building_path(@building), class: "nav-link mr-2 tableroMandoLink editLink" %>
			<%# end %>
				<%#= link_to 'Buildings', buildings_path %>

			
		</div>
	
	</div>
</div>

<!-- ANTONIO OJO !!! IF YOU ARE ADMIN YOU WILL SEE THIS FORM -->
	<% if  Engagement.where({building_id: @building.id, user_id: current_user.id, access: 'admin'}).count > 0 %>
Curent user ID= <%= current_user.id %>

<br>

		<%= simple_form_for(@invite ) do |f| %>
		  <%= f.error_notification %>
		  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
	    <%= f.hidden_field :building_id, :value => @invite.building_id %>
   		<%= f.hidden_field :sender_id, :value => current_user.id %>
   		<%= f.label :email %>
	    <%= f.email_field :email %>
	    <%= f.submit 'Send' %>
		<% end %>

<% end %>
