<!DOCTYPE html>
<html>
  <head>
    <title>HomeIn | <%= yield(:page_title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <%#= render 'layouts/navbar' %> 
 
    <div class="container-fluid <%= controller_name %> <%= action_name %> "> 
      <%= render 'layouts/navbar' %> 
    <!-- <div class="container-fluid">  -->

    <%# unless current_page?(root_path) %>
     <%# As it is outside the container it will use the fullwidth %> 
      
      <!--div class="container <%= controller_name %> <%= action_name %> "> -->
    <%# end %> 
    <% if alert || notice %>
      <%= render 'layouts/alerts' %>
      <% end %> 
      <%#= render 'layouts/topLinks' %>
      <%= yield %>
    </div>
  </body>
</html>
